# LaTeX intermediate files
*.aux
*.bbl
*.bcf
*.blg
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.run.xml
*.synctex.gz
*.fdb_latexmk
*.fls

# glossaries / nomenclature
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist

# latexmk
*.latexmk

# minted
_minted*

# temporary
*.tmp
*.bak
*.sav

# TeXstudio
*.txsprofile
*.txssession
*.synctex(busy)